fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pydantic-settings==2.10.1
pandas==2.3.1
motor==3.7.1
pymongo==4.13.2
chromadb==1.0.15
openai==1.99.9
python-json-logger==3.2.1
tenacity==9.1.2
orjson==3.11.1
langsmith==0.4.14
pytest==8.4.1
httpx==0.28.1
